* {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    scroll-behavior: smooth;
}

.header {
    background: rgb(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    border-bottom: 2px #999 solid;
}

.navbar-a {
    position: relative;
    display: inline-block;
}

.navbar-a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease;
}

.navbar-a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.hubungiSaya::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    height: 300px;
    width: 300px;
    border-radius: 50%;
    transition: all 0.5s;
}

.hubungiSaya:hover::after {
    transform: translate(-50%, -50%) scale(1);
}

.animation-about-vert {
    animation: rotate-vert 3s linear infinite;
}

.animation-about-horz {
    transform: translate(-50%, -50%) rotate(90deg);
    animation: rotate-horz 3s linear infinite;
}

@keyframes rotate-vert {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes rotate-horz {
    from {
        transform: translate(-50%, -50%) rotate(90deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(-450deg);
    }
}

.CV {
    position: relative;
    transition: box-shadow 0.5s, transform 0.5s;
}

.CV::after {
    content: '';
    position: absolute;
    top: -15px;
    left: -50%;
    height: 20px;
    width: 160%;
    border-radius: 5px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}

.CV:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.CV:hover {
    transform: translateY(-5px);
}

.gambara:hover {
    transform: rotateY(180deg);
}

.footer-title {
    position: relative;
    padding-bottom: 5px;
    display: inline-block;
}

.footer-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 3px;
    border-radius: 10px;

}